<link rel="stylesheet" href="/css/AdminVoter.css">

    <section class="box-data">
        <h1 class="headingText">Voters</h1>
        <div class="boxes">
            <div class="box">
                <div class="boxHeading">Total Voter Voted</div>
                <div class="Number-icon">
                    <p id="totalVoterVoted" class="tNumber">0</p>
                    <i class="fa-solid fa-e" style="color: #2589f6; font-size: 30px;"></i>
                </div>
            </div>
            <div class="box">
                <div class="boxHeading">Voter Voted in Current Election</div>
                <div class="Number-icon">
                    <p id="voterVotedInCurrentElection" class="tNumber">0</p>
                    <i class="fa-solid fa-c" style="color: #2589f6; font-size: 30px;"></i>
                </div>
            </div>
            <div class="box">
                <div class="boxHeading">Most Voted Party</div>
                <div class="Number-icon">
                    <p id="mostVotedParty" class="tNumber">0</p>
                    <i class="fa-solid fa-v" style="color: #2589f6; font-size: 30px;"></i>
                </div>
            </div>
            <div class="box">
                <div class="boxHeading">Most Voted Candidate</div>
                <div class="Number-icon">
                    <p id="mostVotedCandidate" class="tNumber">0</p>
                    <i class="fa-solid fa-v" style="color: #2589f6; font-size: 30px;"></i>
                </div>
            </div>

        </div>
    </section>
    <section class="voterTally">
        <h1 class="headingText">All Voters</h1>
        <!-- <div class="container">
            <button type="button" class="btn btn-primary btn-sm" id="btnAddNewElection">Add New Election</button>

        </div> -->
        <input type="text" class="cd-search table-filter" data-table="order-table" placeholder="Item to filter.." />
        <div class="tableElection">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </section>
