<link rel="stylesheet" href="/css/AdminCandidate.css">

    <section class="box-data">
        <h1 class="headingText">Candidate</h1>
        <div class="boxes">
            <div class="box">
                <div class="boxHeading">Total Candidates</div>
                <div class="Number-icon">
                    <p id="totalElection" class="tNumber">0</p>
                    <i class="fa-solid fa-e" style="color: #2589f6; font-size: 30px;"></i>
                </div>
            </div>
            <div class="box">
                <div class="boxHeading">Total Candidate Currently Election</div>
                <div class="Number-icon">
                    <p id="currentElection" class="tNumber">0</p>
                    <i class="fa-solid fa-c" style="color: #2589f6; font-size: 30px;"></i>
                </div>
            </div>
            <div class="box">
                <div class="boxHeading">Candidate Disqualified</div>
                <div class="Number-icon">
                    <p id="electionResultAnnounced" class="tNumber">0</p>
                    <i class="fa-solid fa-v" style="color: #2589f6; font-size: 30px;"></i>
                </div>
            </div>
            <div class="box">
                <div class="boxHeading">Candidate by Parties</div>
                <div class="Number-icon">
                    <p id="electionResultNotAnnounced" class="tNumber">0</p>
                    <i class="fa-solid fa-v" style="color: #2589f6; font-size: 30px;"></i>
                </div>
            </div>

        </div>
    </section>
    <section class="voterTally">
        <h1 class="headingText">All Candidates</h1>
        <div class="container">
            <button type="button" class="btn btn-primary btn-sm" id="btnAddNewCandidate">Add New Candidate</button>

        </div>
        <div class="tableElection">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </section>
