<div class="container">
    <div class="mainImage">

        <img src="/images/main.png" alt="">
    </div>
    <div class="login-form">
        <!-- Your login form content here -->
        <h1>User Login</h1>
        <form action="/users/login" method="post">
            <div class="user input">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="UserName" placeholder="Enter your Username or Email" class="username">
            </div>
            <!-- <div class="error"></div> -->

            <!-- <p class="error userNameError">123</p> -->
            <div class="password input">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="Password" placeholder="Enter your Password" class="Password">                
            </div>
            <!-- <div class="error"></div> -->

            <!-- <p class="error passwordError">asds</p> -->
            <p ><a href="" class="forget">Forget Password?</a></p>
            <button type="submit" class="login-btn">Login</button>
        </form>
        <p class="forget create">Don't have an account? <a href="/SignUp" class="forget"> Sign up Here</a></p>

    </div>
</div>